.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4vmin;
  align-items: right;
  right: 0px;
  left: 0px;
  top: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.topnav {
  overflow: hidden;
  background-color: #f2f2f2;
}

.topnav-right {
  float: right;
}

.topnav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.topnav li {
	float: left;
	color: black;
  text-align: center;
  border-right: 1px solid #bbb;
  text-decoration: none;
  font-size: 17px;
}

.topnav li a {
  display: block;
  width: 100px;
}

.topnav li a:hover {
  background-color: lightgreen;
}

.topnav li img {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.topnav li a[active="true"] {
  background-color: green;
}

body {
  text-align: left;
  background-color: #282c34;
  color: white;
}

body h3 {
  padding-left: 4%;
}

body p {
  padding-left: 6%;
}

body iframe {
  width: 80%;
  height: 400px;
  position: relative;
  left: 6%;
}

body embed {
  width: 80%;
  height: 400px;
  position: relative;
  left: 6%;
}

button {
  background-color: #f2f2f2;
  border: none;
  color: black;
  /*height: 30px;*/
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-left: 1px solid #bbb;
}

button:hover {
  background-color: lightgreen;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
